/* Common CSS */

@font-face {
    font-family: ReemKufi;
    src: url(../assets/fonts/ReemKufi-Regular.woff);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, select {
    font-family: 'ReemKufi', sans-serif;
}

#main {
    margin-left: 300px;
    margin-top: 100px;
}

/* Colores */
:root {
    --azul-alto: #004c98;
    --azul-bajo: #0F5DAB;
    --carmesí: #eb2f38;
    --amarillo-bajo: #e4d079;
    --amarillo-alto: #f3d946;
    --rojo: #d95452;
    --blanco: white;
    --gris-alto:  gray;
    --gris-bajo: #bebebe;
}

/* Nomenclatura 

    prefijo (app)
    prefijos (btn, txt, tbl)
    especifico
*/

/* Colores de texto */
.app-texto-gris-alto {
    color: var(--gris-alto);
}

.app-texto-blanco{
    color: var(--blanco);
}

/* Fondos */
.app-fondo-gris-alto {
    background-color: var(--gris-alto);
}

.app-fondo-gris-bajo {
    background-color: var(--gris-bajo);
}

.app-fondo-blanco {
    background-color: var(--blanco);
}

/* Sombras */
.app-sombra-gris {
    box-shadow: 1px 1px 2px var(--gris);
}

/* Botones */

.app-btn {
    box-shadow: 1px 1px 2px var(--gris);
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 43px;
    padding: 5px 16px;
    cursor: pointer;
}

.app-btn:hover {
    background-color: var(--azul-bajo);
}

.app-btn-azul {
    background-color: var(--azul-alto);
    color: var(--blanco);
}

.app-btn-amarillo{
    background-color: var(--amarillo-alto);
    color: var(--blanco);
}

.app-btn-tags{
    box-shadow: 1px 1px 2px var(--gris);
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px;
    height: 35px;
}

.app-tam-btn-modal{
    height: 35px;
}

/* Campos (Input) */
.app-campo {
    width: 100%;
    height: 33px;
    border: 1px solid var(--azul-alto);
    box-sizing: border-box;
    outline: none;
    box-shadow: 1px 1px 2px var(--gris-bajo);
}

.app-altura-camp-modal{
    height: 20px;
}

.app-altura-modal-selecc{
    height: 25px;
}

.app-ajustar-textar{
    max-height: 80px;
    min-height: 80px;
    max-width: 100%;
    min-width: 100%;
}

.app-ajustar-textar-grande{
    max-height: 130px;
    min-height: 130px;
    max-width: 100%;
    min-width: 100%;
}

.app-seleccionable {
    padding-left: 20px;
    height: 33px;
    width: 100%;
    border: 1px solid var(--azul-alto);
    box-shadow: 1px 1px 2px var(--gris-bajo);
    outline: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, white 0%,white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.app-campo-area {
    width: 100%;
    border: 1px solid var(--azul-alto);
    box-sizing: border-box;
    outline: none;
    box-shadow: 1px 1px 2px var(--gris-bajo);
}

/* Flex */
.app-flotar-izq {
    float: left;
}

.app-flotar-der {
    float: right;
}

.app-pos-izq {
    display: flex;
    flex-direction: row-reverse;
}

.app-pos-der {
    display: flex;
}

.app-distancia{
    justify-content: space-between;
}

.app-ajustar-laterales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app-ajustar-laterales2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app-texto-centro {
    text-align: center;
}

.app-texto-der {
    text-align: right;
}

.app-ajustar-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-contenedor-modal-imagen{
    height: 100px;
}

.app-contenedor-modal-imagen-200{
    height: 200px;
}

.app-contenedor-modal-imagen-150{
    height: 150px;
}

/* Tamaños */
.app-ancho-28 {
    width: 28%;
}

.app-ancho-45 {
    width: 45%;
}

.app-ancho-50 {
    width: 50%;
}

.app-ancho-100 {
    width: 100%;
}



/* Márgenes */
.app-mg-hor-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.app-mg-ver-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-mg-der-5{
    margin-right: 5px;
}

.app-mg-der-3p{
    margin-right: 3%;
}

.app-mg-der-5p{
    margin-right: 5%;
}

.app-mg-der-10 {
    margin-right: 10px;
}

.app-mg-der-15 {
    margin-right: 15px;
}

.app-mg-der-20{
    margin-right: 20px;
}

.app-mg-izq-10 {
    margin-left: 10px;
}

.app-mg-izq-20 {
    margin-left: 20px;
}

.app-mg-arr-11{
    margin-top: 11px;
}

.app-mg-arr-22{
    margin-top: 22px;
}

.app-mg-arr-35{
    margin-top: 35px;
}

.app-mg-arr-15{
    margin-top: 15px;
}

.app-mg-arr-5{
    margin-top: 5px;
}

.app-mg-arr-7{
    margin-top: 7px;
}

.app-mg-ab-10 {
    margin-bottom: 10px;
}

.app-mg-ab-20 {
    margin-bottom: 20px;
}

.app-mg-ab-30 {
    margin-bottom: 30px;
}

.app-mg-arr-0 {
    margin-top: 0;
}

.app-mg-arr-10 {
    margin-top: 10px;
}

.app-mg-ab-3 {
    margin-bottom: 3px;
}

.app-mg-ab-5 {
    margin-bottom: 5px;
}

.app-mg-auto{
    margin: 10px auto;
}

.app-mg-todo-5{
    margin: 5px;
}

.app-mg-arr-30{
    margin-top: 30px;
}

.app-mg-der-30{
    margin-right: 30px;
}


/*padding*/
.app-paddng-izq{
    padding-left: 10px;
    color: #d78c41;
}

.app-padding-25{
    padding: 25px;
}

.app-padding-15{
    padding: 15px;
}

/* Iconos */
.app-icono {
    font-size: 25px;
}

.fa-check-circle{
    color: #00913c;
    font-size: 30px;
    margin-left: 3px;
}

#abrir-modal-crear-info-nutricional .fa-times-circle{
    color: var(--carmesí);
    font-size: 30px;
    cursor: pointer;
}


/* Formas */
.app-contenedor-circular {
    border-radius: 100%;
}

/* Tablas */

.app-tabla-tamaño td{
    width: 700px;
    height: 30px;
    padding-left: 10px;
}

.app-celda-texto-centro {
    vertical-align: middle;
}

.app-ancho-100p{
    width: 100%;
}

.app-col-medio {
    width: 4.16%;
}

.app-col-uno-y-medio {
    width: 12.5%;
}

.app-col-2 {
    width: 16.6%;
}

.app-col-3 {
    width: 25%;
}

.app-col-5 {
    width: 41.6%;
}

.app-col-6 {
    width: 50%;
}

.app-col-4{
    width: 33.3%;
}

.app-col-8{
    width: 66.6%;
}

.app-col-7{
    width: 58.3%;
}

.app-col-10{
    width: 83.3%;
}

.app-celda-texto-der{
    text-align: right;
    padding-right: 10px;
}


/* Nivelar iconos edit y eliminar*/

.app-centrar-icns{
    text-align: center;
}

/*display*/

.app-inline{
    display: inline;
}

/*Tamaño de fuente*/
.app-tam-fuente-25{
    font-size: 25px;
}


/*Modal*/

.app-mostrar-modal{
    text-decoration: none;
    transition: all 0.15s linear;
}


.app-ancho-42{
    width: 42%;
}

.app-cont-50{
    width: 50%;
}

.borde-modal{
    padding: 10px;
    box-shadow: 1px 1px 2px var(--gris-bajo);
}

/*Centrar*/
.app-centrar{
    justify-content: center;
}

.app-altura-modal-inputs{
    height: 25px;
}

.fa-question-circle,
.fa-bars::before,
.fa-check-circle::before,
.fa-user::before,
.fa-times::before{
    cursor: pointer;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    transition: top 0.35s ease;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border-radius: 2px;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;

  }
  
  .modal-content-peque {
    width: 30%;
  }

  .modal-content-35p {
    width: 35%;
  }

  .modal-content-small {
    width: 40%;
  }
  
  .modal-content-medio {
    width: 50%;
  }

.app-cerrar-modal{
    color: red;

    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;

}

.modal-body{
    max-height: 300px;
    overflow-y: scroll;
}

.scroll{
    overflow-y: scroll;
}

.app-modal-buscar{
    width: 100%;
    display: flex;
}

.fa-search{
    font-size: 25px;
    color: #004c98;
}
.ajustar-contenedor{
    display: flex;
    flex-wrap: wrap;
}

.app-alinear{
    display: inline-flex;
}

.fa-edit{
    cursor: pointer;
    margin: 5px;
    color: #e4d079;
}

.fa-trash{
    cursor: pointer;
    margin: 5px;
    color: #d95452;
}

.app-btn-flotante{
    position: relative;   
}

.app-flotar-arriba-15{
    bottom: 15px;
}

.app-flotar-abajo-25{
    top: 25px;
}

.app-flotar-izq-10{
    right: 10px;
}

.app-fondo-blanco{
    background-color: white;
    border-radius: 100%;
}

.app-posicion-boton-cerrar{
    position: relative;
    bottom: 10px;
}


.app-padding-35{
  padding-right: .35rem;
  padding-right: .35rem;
}


.app-grid{
  display: grid;;
}

.app-ajustar-6-columnas{

  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.app-ajustar-5-columnas{
  grid-template-columns: 2fr 2fr 2fr 2fr 4fr;
}

.app-ajustar-10-2-columnas{
  grid-template-columns: 10fr 2fr;
}

.app-columna-2{
  grid-template-columns: 2fr;
}

.app-ajustar-6-6-columnas{
  grid-template-columns: 6fr 6fr;
}

.app-ajustar-4-4-4-columnas{
  grid-template-columns: 4fr 4fr 4fr;
}

.app-espacio-columnas-7{
  column-gap: 7px;
}

.app-espacio-columnas-20{
  column-gap: 20px;
}

.app-ajustar-columna-12{
    grid-template-columns: 12fr;
}

@media(max-width: 1024px){
  .app-ajustar-columnas{
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    row-gap: 10px;
  }

  .app-ajustar-columnas-pequenio{
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    row-gap: 10px;
  }

  .app-ajustar-tabla{
    display: block;
    overflow-x: auto;
  }

  .app-max-altura-70p{
      max-height: 70%;
  }

  .app-scroll-y{
      overflow-y: auto;
  }
}
