/* Common CSS */

@font-face {
    font-family: ReemKufi;
    src: url(../assets/fonts/ReemKufi-Regular.woff);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, select {
    font-family: 'ReemKufi', sans-serif;
}

#main {
    margin-left: 300px;
    margin-top: 100px;
}

/* Colores */
:root {
    --azul-alto: #004c98;
    --azul-bajo: #0F5DAB;
    --amarillo-bajo: #e4d079;
    --amarillo-alto: #f3d946;
    --rojo: #d95452;
    --blanco: white;
    --gris-alto:  gray;
    --gris-bajo: #bebebe;
}

/* Nomenclatura 

    prefijo (app)
    prefijos (btn, txt, tbl)
    especifico
*/

/* Colores de texto */
.app-texto-gris-alto {
    color: var(--gris-alto);
}

/* Fondos */
.app-fondo-gris-alto {
    background-color: var(--gris-alto);
}

.app-fondo-gris-bajo {
    background-color: var(--gris-bajo);
}

.app-fondo-blanco {
    background-color: var(--blanco);
}

/* Sombras */
.app-sombra-gris {
    box-shadow: 1px 1px 2px var(--gris);
}

/* Botones */

.app-btn {
    box-shadow: 1px 1px 2px var(--gris);
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 43px;
    padding: 5px 16px;
    cursor: pointer;
}

.app-btn:hover {
    background-color: var(--azul-bajo);
}

.app-btn-azul {
    background-color: var(--azul-alto);
    color: var(--blanco);
}

.app-btn-amarillo{
    background-color: var(--amarillo-alto);
    color: var(--blanco);
}

.app-btn-tags{
    box-shadow: 1px 1px 2px var(--gris);
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px;
    height: 35px;
}

.app-tam-btn-modal{
    height: 35px;
}

/* Campos (Input) */
.app-campo {
    width: 100%;
    height: 33px;
    border: 1px solid var(--azul-alto);
    box-sizing: border-box;
    outline: none;
    box-shadow: 1px 1px 2px var(--gris-bajo);
}

.app-altura-camp-modal{
    height: 20px;
}

.app-altura-modal-selecc{
    height: 25px;
}

.app-ajustar-textar{
    max-height: 80px;
    min-height: 80px;
    max-width: 100%;
    min-width: 100%;
}

.app-seleccionable {
    padding-left: 20px;
    height: 33px;
    width: 100%;
    border: 1px solid var(--azul-alto);
    box-shadow: 1px 1px 2px var(--gris-bajo);
    outline: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, white 0%,white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.app-campo-area {
    width: 100%;
    border: 1px solid var(--azul-alto);
    box-sizing: border-box;
    outline: none;
    box-shadow: 1px 1px 2px var(--gris-bajo);
}

/* Flex */
.app-flotar-izq {
    float: left;
}

.app-flotar-der {
    float: right;
}

.app-pos-izq {
    display: flex;
    flex-direction: row-reverse;
}

.app-pos-der {
    display: flex;
}

.app-ajustar-laterales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app-texto-centro {
    text-align: center;
}

.app-texto-der {
    text-align: right;
}

.app-ajustar-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-contenedor-modal-imagen{
    height: 100px;
}

.app-contenedor-modal-imagen-200{
    height: 200px;
}

/* Tamaños */
.app-ancho-28 {
    width: 28%;
}

.app-ancho-45 {
    width: 45%;
}

.app-ancho-50 {
    width: 50%;
}

.app-ancho-100 {
    width: 100%;
}



/* Márgenes */
.app-mg-hor-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.app-mg-ver-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-mg-der-10 {
    margin-right: 10px;
}
.app-mg-der-20{
    margin-right: 20px;
}

.app-mg-izq-10 {
    margin-left: 10px;
}

.app-mg-izq-20 {
    margin-left: 20px;
}

.app-mg-arr-22{
    margin-top: 22px;
}

.app-mg-arr-35{
    margin-top: 35px;
}

.app-mg-arr-15{
    margin-top: 15px;
}

.app-mg-ab-10 {
    margin-bottom: 10px;
}

.app-mg-arr-10 {
    margin-top: 10px;
}

.app-mg-ab-3 {
    margin-bottom: 3px;
}

.app-mg-todo-5{
    margin: 10px;
}

.app-mg-arr-30{
    margin-top: 30px;
}

.app-mg-der-30{
    margin-right: 30px;
}


/*padding*/
.app-paddng-izq{
    padding-left: 10px;
    color: #d78c41;
}


/* Iconos */
.app-icono {
    font-size: 25px;
}

.fa-check-circle{
    color: green;
    font-size: 30px;
    margin-left: 3px;
}


/* Formas */
.app-contenedor-circular {
    border-radius: 100%;
}

/* Tablas */

.app-tabla-tamaño td{
    width: 700px;
    height: 30px;
    padding-left: 10px;
}

.app-celda-texto-centro {
    vertical-align: middle;
}

.app-col-2 {
    width: 16.6%;
}

.app-col-3 {
    width: 25%;
}

.app-col-5 {
    width: 41.6%;
}

.app-espacio-4{
    width: 33.3%;
}

.app-espacio-8{
    width: 66.6%;
}

.app-espacio-7{
    width: 58.3%;
}

.app-celda-texto-der{
    text-align: right;
    padding-right: 10px;
}


/* Nivelar iconos edit y eliminar*/

.app-centrar-icns{
    text-align: center;
}

/*display*/

.app-inline{
    display: inline;
}

/*Tamaño de fuent*/
.app-fs-25{
    font-size: 25px;
}


/*Modal*/

.app-mostrar-modal{
    text-decoration: none;
    transition: all 0.15s linear;
}


.app-espaciado{
    width: 42%;
}

.app-cont-50{
    width: 50%;
}

.borde-modal{
    padding: 10px;
    box-shadow: 2px 2px 2px cadetblue;
}

/*Centrar*/
.app-centrar{
    justify-content: center;
}