#listar-recetas {
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

#listar-recetas td, 
#listar-recetas th{
    border: 2px solid #004c98;
    height: 25px;
    vertical-align: middle
}

#listar-recetas th{
    background-color:#004c98;
    color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}
.tooltip:hover .tiptext {
  visibility: visible;
}

.tooltip.top .tiptext{
  margin-left: -60px;
  bottom: 150%;
  left: 50%;
}
.tooltip.top .tiptext::after{
  margin-left: -5px;
  top: 100%;
  left: 50%;
  border-color: #2E2E2E transparent transparent transparent;
}

.tooltip.bottom .tiptext{
    margin-left: -60px;
    top: 110%;
    left: 50%;
}
.tooltip.bottom .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

.tooltip.left .tiptext{
  top: -5px;
  right: 150%;
}
.tooltip.left .tiptext::after{
  margin-top: -5px;
  top: 13%;
  left: 100%;
  border-color: transparent transparent transparent #2E2E2E;
}

